######################################################
#   This is default configuration file for macfand   #
######################################################


##### TEMPERATURES #####
temp_low:         63
temp_high:        66


##### INTERVALS #####
time_poll:        1


##### LOGGING #####
verbose:          1
log_type:         "std"
#log_file_path:    "/var/log/macfand.log"


##### MODES #####
daemon:           0
